/* .kind-icon:hover,
button:hover,
a:hover {
  border-color: rgba(32, 148, 243, 0.5);
} */
.kind-icon,
button,
a,
summary,
img {
  border: 2px solid transparent;
  transition: background 0.15s, border 0.25s, color 0.125s, box-shadow 0.25s !important;
  cursor: pointer;
  box-shadow: 0 0 3px transparent;
}

.kind-icon:active,
button:active,
a:active,
summary:active,
img:active {
  border-color: #2094f3 !important;
  background: rgba(32, 148, 243, 0.5) !important;
  box-shadow: 0 0 3px #2094f3 !important;
  transition-duration: 0s !important;
}
